# EditorConfig helps developers define and maintain consistent coding styles
# across different editors and IDEs. For more information, visit
# https://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Set indent style to spaces
[*.go]
indent_style = space
indent_size = 2

# YAML files
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# YAML files
[*.{md}]
indent_style = space
indent_size = 2

# Set charset
charset = utf-8

# Trim trailing whitespace
trim_trailing_whitespace = true

# Ensure files are always formatted with a single blank line at the end
ensure_blank_line_at_eof = true
