*
!.gitignore
!status-get.go
!user-get.go
!user-create.go
!user-update.go
!user-delete.go
!organization-get.go
!organization-create.go
!organization-update.go
!organization-delete.go
!key-get.go
!server-get.go
!server-create.go
!server-update.go
!server-delete.go
!serverroute-get.go
!serverroute-create.go
!serverroute-update.go
!serverroute-delete.go
!serverorg-attach.go
!serverorg-detach.go
!serverhost-attach.go
!serverhost-detach.go
